{% extends "templates/base.html" %}
{% block body %}
        <div class="span9">
          <div class="hero-unit">
            <h1>{{ app_id }}</h1>
            <p>{{ description }}</p>
            <p>Uploaded by {{ owner }}</p>
            <p>File size is {{ size }}</p>
            <p>
              <a href="/download/{{app_id}}">
              Download this file
              </a>
            </p>
            {% if is_admin %}
            <p>
              <a href="/edit/{{app_id}}">
              Edit file metadata
              </a>
            </p>
            {% else %}
              <input type="hidden" id="counter" value="1">
              <script>
                window.onload = function() {
                  setInterval(
                    function() {
                      var counter = $('#counter').val();
                      if (counter == '1') {
                        $('#counter').val('0');
                        window.location = "/download/{{app_id}}";
                      }
                    }, 1000);
                }
              </script>
            {% endif %}
          </div>
        </div><!--/span-->
{% endblock %}
