<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Download AppScale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Download the latest AppScale release!">
    <meta name="author" content="AppScale Team">

    <!-- APPSCALE SYSTEMS, INC. -->

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href="http://www.appscale.com/"> <img class="brand" height="22" src="/static/img/inverted-appscale-logo-small.png"> </a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              {% if is_logged_in %}
                Logged in as <a href="#" class="navbar-link">
                  {{user_name}}
                </a>- 
                <a href="{{logout_url}}" class="navbar-link">
                  Log out?
                </a>
              {% else %}
                <a href="{{login_url}}" class="navbar-link">Log in</a>
              {% endif %}
            </p>
<!--           <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="http://www.appscale.com">About</a></li>
              <li><a href="http://www.appscale.com">Contact</a></li>
            </ul>-->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">AppScale Videos</li>
                  <li><a href="https://www.youtube.com/watch?v=QGSkAi_Vyx8">AppScale 2.2 Release Video</a></li>
                  <li><a href="https://www.youtube.com/watch?v=dESJ8YaLtOs">AppScale 2.1 Release Video</a></li>
                  <li><a href="https://www.youtube.com/watch?v=IeMEN4f7fpk">AppScale 2.0 Release Video</a></li>
              <li class="nav-header">Source</li>
                  <li><a href="http://github.com/AppScale/appscale">AppScale on GitHub</a></li>
                  <li><a href="http://github.com/AppScale/appscale-tools">AppScale Tools on GitHub</a></li>
                  <li><a href="http://github.com/AppScale/appscale/wiki">AppScale Wiki</a></li>
              <li class="nav-header">Community</li>
	              <li> <a href="http://community.appscale.com/">AppScale Community</a></li>
	          <li class="nav-header">Sample Applications</li>
                  <li><a href="https://github.com/AppScale/appinventor-sources">App Inventor</a></li>
                  <li><a href="https://github.com/AppScale/sprunge">Sprunge (command-line pastebin)</a></li>
                  <li><a href="https://github.com/AppScale/UW-Meme-Generator">Meme Generator</a></li>
              <li class="nav-header">Developer Resources</li>
                  <li><a href="https://developers.google.com/appengine/docs/python/gettingstartedpython27/introduction" target="_blank">Python: Getting Started</a></li>
                  <li><a href="https://developers.google.com/appengine/training/" target="_blank">Google App Engine Academy</a></li>
                  <li><a href="https://cloud-playground.appspot.com/playground/" target="_blank">Google Cloud Playground</a></li>
                  <li><a href="https://developers.google.com/appengine/docs/videoresources" target="_blank">App Engine Video Resources</a></li>
                  <li><a href="http://www.youtube.com/watch?v=j7OQZp2S5pY" target="_blank">Video: "Hello World" in Python</a></li>
                  <li><a href="https://github.com/GoogleCloudPlatform" target="_blank">GitHub: Google Cloud Platform</a></li>
          </ul>
          </div><!--/.well -->
        </div><!--/span-->

{% block body%}{% endblock %}

        </div><!--/row-->

      <hr>

      <div class="footer text-center">
        <div class="muted credit">
         <p>&copy; AppScale Systems, Inc. 2009-2015</p>
        </div>
      </div>

    </div><!--/.fluid-container-->

    <!--Le Google Analytics-->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37902619-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
