{% extends "templates/base.html" %}
{% block body %}
        <div class="span9">
          <div class="hero-unit">
            <h1>Download AppScale!</h1>
            <p>Here, you can download AppScale releases!</p>
            {% if is_admin %}
            <p><a class="btn btn-primary btn-large" href="/upload">Upload Release Files &raquo;</a></p>
            {% endif %}
          </div>
          <div class="row-fluid">
            <div>
              <h2>Files Currently Hosted:</h2>
              <table class="table table-hover">
                <tr>
                  <td>Name</td>
                  <td>File Size</td>
                  <td># of Downloads</td>
                  {% if is_admin %}
                  <td>Admin Functions</td>
                  {% endif %}
                </tr>
                {% for app_metadatum in app_metadata %}
                  <tr>
                    <td>
                      <a href="/apps/{{app_metadatum['name']}}">
                        {{ app_metadatum["name"] }}
                      </a>
                    </td>
                    <td>
                      {{ app_metadatum["size"] }}
                    </td>
                    <td>
                      {{ app_metadatum["download_count"] }}
                    </td>
                    {% if is_admin %}
                    <td>
                      <a class="btn btn-primary"
                        href="/edit/{{app_metadatum['name']}}">
                          Edit &raquo;
                      </a>
                    </td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </table>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
{% endblock %}
