{% extends "templates/base.html" %}
{% block body %}
        <div class="span9">
          <div class="hero-unit">
            <h1>Upload Your File</h1>
            <p>Fill out the fields below to upload your file.</p>
          </div>
          <div class="row-fluid">
            <div>
              <form action="{{upload_url}}" method="POST" 
                enctype="multipart/form-data">
                <label>Filename</label>
                <input type="text" name="appid"
                  value="{{ app_id }}">
                <label>App Description</label>
                <textarea rows="3" name="description">{{ description }}</textarea>
                <label>S3 Path</label>
                <input type="text" name="s3_path"
                  value="{{ s3_path }}">
                </input>
                <br />
                <br />
                <button type="submit" class="btn btn-primary btn-large">
                  Upload &raquo;
                </button>
              </form>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
{% endblock %}
